body {
     color: Black;
     background-color: LightGray;
     border: 25px darkgray;
     font-family: Garamond;
     font-size: 12px;
     border-radius: 5px;
}

#header {
     color: Black;
     background-color: LightGray;
     border: 25px darkgray;
     font-family: Garamond;
     font-size: 12px;
     border-radius: 5px;
}
