body {
     color: Black;
     background-color: LightGray;
     border: 25px darkgray;
     font-family: Garamond;
     font-size: 12px;
     border-radius: 5px;
}

div {
    width: auto;
    height: auto;
    position: floating;
    border: solid darkgray;
    border-radius: auto;
    padding: 100px;
    margin: auto;
    color: White;
    background-color: green;
}
