body {
     color: black;
     background: url(noise-background-04.png);
     font: 15px "Garamond", arial, serif;
     text-align: left;
     margin:2px;
     border-radius: 15px;
}

h1 {
     font-style: italic;
}

 /* h2 {
}

h3 {
}

p {
}
*/

#Picture {
     width: 150px;
     height: 150px;
     border: 0px solid black;
     float: right;
     border-radius: 15px;
}

#Header {
    /* background-color:*/
     width: 50%;
     height: 50%;
     margin: 50px auto;
     padding: 50px;
     border: 2px solid black;
     border-radius: 15px;
}

#Summary {   
     width: 50%;
     height: 50%;
     margin: 50px auto;
     padding: 50px;
     border:  2px solid black;
     border-radius: 15px;
     text-align: left;
}

#Skills {
     width:  50%;
     height: 50%;
     margin: auto;
     padding: 50px;
     border: 2px solid black;
     border-radius: 15px;
     text-align: left;
}

#Certifications {
     width:  50%;
     height: 50%;
     margin: auto;
     padding: 50px;
     border: 2px solid black;
     border-radius: 15px; 
     text-align: left;
}

#Education {   
     width:  50%;
     height: 50%;
     margin: auto;
     padding: 50px;
     border: 2px solid black;
     border-radius: 15px;
     text-align: left;
}

#Employment {   
     width:  50%;
     height: 50%;
     margin: auto;
     padding: 50px;
     border:2px solid black;
     border-radius: 15px;
     text-align: left;
}
